<button
  type='button'
  class='btn btn-success'
  {{on 'click' this.onShowModal}}
>Create Post</button>

{{#if this.isShowCreateModal}}
  <Post::Create::Modal @onClose={{this.onHideModal}} />
{{/if}}